body{
    background-color: #04042b;
    position: relative;
    font-family: helvetica;
}

#quizContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 10%;
}
.questionForm{
    width:60vw;
    max-width: 800px;
    border-radius: 10px;
    margin:0 auto;
    display: block;
    background-color: rgba(255,255,255,.9);
    padding: 20px ;
    font-size: 1.2em;
    position: relative;
}
.questionForm p {
    line-height: .5em;
    text-align: right;
}

.question{
    font-size : 1em;
    font-weight: bold;
    margin-bottom: 1em;
}

#buttonH {
  display: block;
  position: fixed;
  top: -5px;
  left: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 13px;
  border-radius: 15%;
  transform: rotate(-90deg);
  font-weight: bold;
  text-align: center;
  font-size: 1em;
  background-color: rgba(255,255,255,.5);
  outline: 0;
}

#result {
  width: 50vw;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 20vh;
}

#result img, svg {
  width: 100%;
  height: auto;
}

#avatar {
  width: 20vw;
  height: 20vw;
  position: fixed;
  top: 0px;
  right: 0;
  padding: 20px;
}

/* #hero polygon, #hero circle {
  fill: white;
} */
